/** Navigationsleiste **/
body {
  background-color:lightgray;
    font-family: 'Azo Sans' !important;
}

nav {
    z-index: 1;
}

.carousel-inner{
  
    width:100%;
  max-height: 70vh !important;  
    margin-top: -150px;
}

.navbar__item {
  margin-right: 10px;
}

.navbar__button {
  position: relative;
  width: 160px;
  height: 32px;
  text-align: center;
  font-family: 'Azo Sans';
  color: white !important;
  font-size: 11pt;
  text-transform: uppercase;
  padding: 7px;
}

.navbar__button::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0, 0, 0.8);
  padding: 5px;
  box-shadow: 2px 2px 5px 1px 000000ab;
}

.navbar__button:hover::after {
  background-color: #0066cc;
}

.navbar__button--left::after {
  transform: skew(45deg);
}

.navbar__button--right::after {
  transform: skew(-45deg);
}

.navbar-dark .navbar-nav .active a::after {
  border-bottom: 3px solid #0066cc;
  bottom: -20px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  color: #0066cc !important;
}

.navbar__button--mediathek {
  position: relative;
  width: 160px;
  height: 32px;
  text-align: center;
  
  color: #0066cc !important;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.navbar__button--mediathek::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0, 0, 0.8);
  padding: 5px;
  box-shadow: 2px 2px 5px 1px #000000ab;
}

.navbar__button--mediathek:hover {
  color: #0066cc !important;
}

.navbar__logo {
  height: 90px;
  padding-left: 35px;
  padding-right: 35px;
}

/** Videobereich **/
.blc-hero{
min-height:100vh;
position:relative;
margin-top: -150px;    
}

.blc-hero iframe{
height:100vh
}

.blc-hero .container{
position:relative;
}

/** Upcoming Events **/
.blackline {
  background-color: black;
  height: 25px;
  box-shadow: 2px 2px 5px 1px #000000ab;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.whiteline {
  background-color: lightgray;
  height: 25px;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}


.white-content {
  background-color: lightgray;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
margin-top: -150pt;
}

.headline {
  color: white !important;
  font-size: 15pt;
  font-family: 'Azo Sans';
  text-align: right;
  position: relative;
  top: 0;
  bottom: 0;
  padding-right: 12px;
  line-height: 1;
  right: 33%;
  height: 25px;
  z-index: 0;
}

.headline::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  background-color: black;
  box-shadow: 2px 2px 5px 1px #000000ab;
  z-index: -1;
}

.headline--black {
  color: black !important;
  font-size: 20pt;
  font-family: 'Azo Sans';
  text-align: left;
  position: relative;
  top: 0;
  bottom: 0;
  padding-left: 12px;
  line-height: 1.25;
  left: 33%;
  height: 25px;
  z-index: 0;
}

.headline--black::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  background-color: white;
  z-index: -1;
}

.black-content {
  background-color: black;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.navbar__button--right::after {
  content:'';
  transform: skew(-45deg);
}

/** Latest Events **/
@import "susy";

$susy: (
  columns: 12,
  gutters: 1,
  global-box-sizing: border-box,
  clearfix: true,
  gutter-position: after
);

// Breakpoints
$mobile: 20rem; // 320px
$mobile-landscape: 30rem; // 480px
$tablet-wide: 48rem; // 768px

@import url('https://fonts.googleapis.com/css?family=Quicksand');

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

body {
  background: #eee;
  color: #666;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  text-align: center;
  font-weight: 300;
}

h1,
h2 {
  font-weight: 200;
  color: #999;
}

h1 {
  font-size: 38px;
  margin-bottom: gutter() / 2;
}

p {
  color: black;
}

hr {
  background: none;
  margin: gutter() 0;
  border: none;
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: #0066cc;
}

.container {
  @include container(1100px);
  margin: 0 auto;
}

.content {
  @extend %clearfix;
  padding: gutter();

  img {
    width: 100%;
  }
}

.gallery {
  @extend %clearfix;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  li {
    @include gallery(3);
    text-align: center;
    position: relative;
    margin-bottom: gutter();
    display: inline-block;

    @media (max-width: $tablet-wide) {
      @include gallery(4);
    }

    @media (max-width: $mobile-landscape) {
      @include gallery(6);
    }

    @media (max-width: $mobile) {
      @include gallery(12 first);
    }

    h2 {
      color: #999;
      font-size: 13.5px;
      letter-spacing: 1px;
      margin-top: gutter() / 2;
      text-transform: uppercase;
    }

    .imgwrap {
      background-color: #fff;
      padding: 8px;
      position: relative;
      border-radius: 2px;
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    }

    .imgmask {
      background: url("../img/lupe.svg")
        50% / 25px no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: 1;
      vertical-align: bottom;
      text-align: center;
      transition: all 0.25s ease-out;
    }

    img {
      width: 100%;
      vertical-align: top;
      transition: all 0.25s ease-out;

      @media (max-width: $mobile) {
        width: 100%;
      }
    }

    &:hover img {
      opacity: 0;
      transition: all 0.25s ease-out;
    }

    &:hover .imgmask {
      background: url("../img/lupe.svg")
        50% / 85px no-repeat;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
  }
}

body {
  background: #eee;
  color: #666;
  font-family: 'Azo Sans';
  font-size: 16px;
  line-height: 1.5;
  -webkit-backface-visibility: hidden;
  text-align: center;
  font-weight: 300;
}

h1, h2 {
  font-weight: 200;
  color: #999;
}

h1 {
  font-size: 38px;
  margin-bottom: 2.1739130435%;
}

p {
  color: black;
}

hr {
  background: none;
  margin: 4.347826087% 0;
  border: none;
  border-bottom: 1px solid #ddd;
}

a {
  text-decoration: none;
  color: #0066cc;
}

.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
}

.content {
  padding: 4.347826087%;
}
.content img {
  width: 100%;
}

.gallery {
  margin: 0 auto;
  text-align: center;
  width: 100%;
}
.gallery li {
  width: 21.7391304348%;
  float: left;
  text-align: center;
  position: relative;
  margin-bottom: 4.347826087%;
  display: inline-block;
}
.gallery li:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
.gallery li:nth-child(4n + 2) {
  margin-left: 26.0869565217%;
  margin-right: -100%;
  clear: none;
}
.gallery li:nth-child(4n + 3) {
  margin-left: 52.1739130435%;
  margin-right: -100%;
  clear: none;
}
.gallery li:nth-child(4n + 4) {
  margin-left: 78.2608695652%;
  margin-right: -100%;
  clear: none;
}
@media (max-width: 48rem) {
  .gallery li {
    width: 30.4347826087%;
    float: left;
  }
  .gallery li:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .gallery li:nth-child(3n + 2) {
    margin-left: 34.7826086957%;
    margin-right: -100%;
    clear: none;
  }
  .gallery li:nth-child(3n + 3) {
    margin-left: 69.5652173913%;
    margin-right: -100%;
    clear: none;
  }
}
@media (max-width: 30rem) {
  .gallery li {
    width: 47.8260869565%;
    float: left;
  }
  .gallery li:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .gallery li:nth-child(2n + 2) {
    margin-left: 52.1739130435%;
    margin-right: -100%;
    clear: none;
  }
}
@media (max-width: 20rem) {
  .gallery li {
    width: 100%;
    float: left;
  }
  .gallery li:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
}
.gallery li h2 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  margin-top: 2.1739130435%;
  text-transform: uppercase;
}
.gallery li .imgwrap {
  background-color: #fff;
  padding: 8px;
  position: relative;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
.gallery li .imgmask {
  background: url("../img/lupe.svg") 50%/25px no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  vertical-align: bottom;
  text-align: center;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.gallery li img {
  width: 100%;
  vertical-align: top;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
@media (max-width: 20rem) {
  .gallery li img {
    width: 100%;
  }
}
.gallery li:hover img {
  opacity: 0;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.gallery li:hover .imgmask {
  background: url("../img/lupe.svg") 50%/85px no-repeat;
  opacity: 1;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}


/** Want to be a drummerholic **/

.white-content-drummer {
  background-color: lightgray;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
margin-top: -30pt;
}

.blackline-drummer {
  background-color: black;
  height: 100px;
  box-shadow: 2px 2px 5px 1px #000000ab;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/** Instagram **/
/* Base Styles */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);
body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1em;
  text-align: center;
  color: #444;
  background: lightgray;
  padding-bottom: 2.5em;
}
h1 {
  font-size: 2em;
  line-height: 1em;
  margin: 1.5em 0 0.5em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
em,
strong {
  font-weight: 700;
}
img,
figure {
  height: auto;
  max-width: 100%;
}
.container {
  padding: 0 3em;
}

@media (min-width: 1000px) {
  body {
    font-size: 26px;
  }
}

/* Important Styles */
.images {
  text-align: center;
  margin: auto;
  padding: 3em 0 0;
}
.images a {
  display: inline-block;
  width: 46%;
  max-width: 200px;
  margin: 0 20px 20px 0;
}
.images figure {
  position: relative;
  overflow: hidden;
  max-height: 200px;
}
.images .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background: url("http://sethmcleod.com/img/svg/instagram.svg") 50% / 50px
      no-repeat,
    rgba(0, 0, 0, 0.5);
}
.images a:hover .overlay,
.images a:focus .overlay {
  opacity: 1;
}
.images a:hover figure img,
.images a:focus figure img {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

/** Footer **/
.footer {
    background-color: black;
    color: white;
}

.get__social {
    color: white;
    font-weight: bold;
    font-family: 'Azo Sans';
    font-size: 20px;
    text-align: center;
}


.social__channels {
    text-align: center;
    
}

.social__channels i {
    margin: 10px;
    color: white;
}

.social__channels i:hover {
    
    color: #0066cc;
}

.footer__contact {
    margin: 0 auto;
}

.footer__buttons {
    color: white;
    text-align: center;
    
}

.footer__buttons:hover {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.copyright{
    text-align: center;
    color: white;
}

.text-white {
    text-align: center;
}

.text-white:hover {
    color: #0066cc !important;
    font-weight: bold;
    
}

