

body {
  background-color:beige;
}

nav {
    z-index: 1;
}

.carousel-inner{
  
    width:100%;
  max-height: 70vh !important;  
    margin-top: -150px;
}

.navbar__item {
  margin-right: 10px;
}

.navbar__button {
  position: relative;
  width: 160px;
  height: 32px;
  text-align: center;
  font-family: "Century Gothic";
  color: white !important;
  font-size: 11pt;
  text-transform: uppercase;
  padding: 5px;
}

.navbar__button::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0, 0, 0.8);
  padding: 5px;
  box-shadow: 2px 2px 5px 1px #000000ab;
}

.navbar__button:hover::after {
  background-color: #0066cc;
}

.navbar__button--left::after {
  transform: skew(45deg);
}

.navbar__button--right::after {
  transform: skew(-45deg);
}

.navbar-dark .navbar-nav .active a::after {
  border-bottom: 3px solid #0066cc;
  bottom: -20px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  color: #0066cc !important;
}

.navbar__button--mediathek {
  position: relative;
  width: 160px;
  height: 32px;
  text-align: center;
  
  color: #0066cc !important;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.navbar__button--mediathek::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0, 0, 0.8);
  padding: 5px;
  box-shadow: 2px 2px 5px 1px #000000ab;
}

.navbar__button--mediathek:hover {
  color: #0066cc !important;
}

.navbar__logo {
  height: 105px;
  padding-left: 35px;
  padding-right: 35px;
}


.albumauswahl{
    padding-top: 40px;
    text-align: center;
}

.albumauswahl{
    font-weight: bold;
}

.albumSelect {
    text-decoration: none;
    color: black;
    
}

.albumSelect:hover {   
    color: #0066cc;
    text-decoration: none;
}

.blackline {
  background-color: black;
  height: 25px;
  box-shadow: 2px 2px 5px 1px #000000ab;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.headline {
  color: white !important;
  font-size: 20pt;
  font-family: 'Century Gothic';
  text-align: right;
  position: relative;
  top: 0;
  bottom: 0;
  padding-right: 12px;
  line-height: 1;
  right: 33%;
  height: 25px;
  z-index: 0;
}

.whiteline {
  background-color: white;
  height: 25px;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.headline::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  background-color: black;
  box-shadow: 2px 2px 5px 1px #000000ab;
  z-index: -1;
}

.headline--black {
  color: black !important;
  font-size: 20pt;
  font-family: 'Azo Sans';
  text-align: left;
  position: relative;
  top: 0;
  bottom: 0;
  padding-left: 12px;
  line-height: 1.25;
  left: 33%;
  height: 25px;
  z-index: 0;
}

.headline--black::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  background-color: beige;
  z-index: -1;
}


.white-content {
  background-color: beige;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.black-content {
  background-color: black;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}




.category__selection1 {
    font-weight: bold;
    text-decoration: none;
    color: #0066cc;
}

.category__selection2, .category__selection2:hover {
    text-decoration: none;
    color: white;
}

.bg-gradient {
  
  color: beige;
  background: beige;
}