


body {
  background-color:white;
    font-family: 'Azo Sans' !important;
}

nav {
    z-index: 1;
}

.carousel-inner{
  
    width:100%;
  max-height: 70vh !important;  
    margin-top: -150px;
}

.navbar__item {
  margin-right: 10px;
}

.navbar__button {
  position: relative;
  width: 160px;
  height: 32px;
  text-align: center;
  font-family: "Azo Sans";
  color: white !important;
  font-size: 11pt;
  text-transform: uppercase;
  padding: 5px;
}

.navbar__button::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0, 0, 0.8);
  padding: 5px;
  box-shadow: 2px 2px 5px 1px #000000ab;
}

.navbar__button:hover::after {
  background-color: #0066cc;
}

.navbar__button--left::after {
  transform: skew(45deg);
}

.navbar__button--right::after {
  transform: skew(-45deg);
}

.navbar-dark .navbar-nav .active a::after {
  border-bottom: 3px solid #0066cc;
  bottom: -20px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  color: #0066cc !important;
}

.navbar__button--mediathek {
  position: relative;
  width: 160px;
  height: 32px;
  text-align: center;
  
  color: #0066cc !important;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

.navbar__button--mediathek::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0, 0, 0.8);
  padding: 5px;
  box-shadow: 2px 2px 5px 1px #000000ab;
}

.navbar__button--mediathek:hover {
  color: #0066cc !important;
}

.navbar__logo {
  height: 105px;
  padding-left: 35px;
  padding-right: 35px;
}

.blackline {
  background-color: black;
  height: 25px;
  box-shadow: 2px 2px 5px 1px #000000ab;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.headline {
  color: white !important;
  font-size: 20pt;
  font-family: 'Century Gothic';
  text-align: right;
  position: relative;
  top: 0;
  bottom: 0;
  padding-right: 12px;
  line-height: 1;
  right: 33%;
  height: 25px;
  z-index: 0;
}

.whiteline {
  background-color: white;
  height: 25px;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.headline::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  background-color: black;
  box-shadow: 2px 2px 5px 1px #000000ab;
  z-index: -1;
}

.headline--black {
  color: black !important;
  font-size: 20pt;
  font-family: 'Azo Sans';
  text-align: left;
  position: relative;
  top: 0;
  bottom: 0;
  padding-left: 12px;
  line-height: 1.25;
  left: 33%;
  height: 25px;
  z-index: 0;
}

.headline--black::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  background-color: white;
  z-index: -1;
}


.white-content {
  background-color: white;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.black-content {
  background-color: black;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}


.category__selection1 {
    font-weight: bold;
    text-decoration: none;
    color: #0066cc;
}

.category__selection1:hover {
    font-weight: bold;
    text-decoration: none;
    color: #0066cc;
}

.category__selection2 {
    text-decoration: none;
    color: white;
}

.category__selection2:hover {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}




.footer {
    background-color: black;
    color: white;
}

.get__social {
    color: white;
    font-weight: bold;
    font-family: 'Azo Sans';
    font-size: 20px;
    text-align: center;
}


.social__channels {
    text-align: center;
    
}

.social__channels i {
    margin: 10px;
    color: white;
}

.social__channels i:hover {
    
    color: #0066cc;
}

.footer__contact {
    margin: 0 auto;
}

.footer__buttons {
    color: white;
    text-align: center;
    
}

.footer__buttons:hover {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.copyright{
    text-align: center;
}

.text-white {
    text-align: center;
}

.text-white:hover {
    color: #0066cc !important;
    font-weight: bold;
    
}

.category__selection_video1 {
    color: white;
}

.category__selection_video1:hover {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

.category__selection_video2 {
    color: #0066cc;
    font-weight: bold;
}

.category__selection_video2:hover {
    color: #0066cc;
    text-decoration: none;
    font-weight: bold;
}

/*-------------------------------------------*/


/*Portfolio===============================*/
#portfolio {  
    margin: 1rem 0;
    -webkit-column-count: 3; 
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-gap: 1rem;
    -moz-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-column-width: 33.33333333333333%;
    -moz-column-width: 33.33333333333333%;
    column-width: 33.33333333333333%;
    
}
#portfolio-container .tile { 
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease;

}
#portfolio-container .tile:hover { 

}

#portfolio-container .scale-anm {
  transform: scale(1);
}


#portfolio-container p{ 
  padding:10px; 
  border-bottom: 1px #ccc dotted; 
  text-decoration: none; 
  font-family: lato; 
  text-transform:uppercase; 
  font-size: 12px; 
  color: #333; 
  display:block; 
  float:left;
}

#portfolio-container p:hover { 
  cursor:pointer; 
  background: #333; 
  color:#eee; }

#portfolio-container .tile img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  
}

#portfolio-container .btn {
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: normal;
    padding: 5px 10px;
    margin: 0;
    height: auto;
    border: 1px solid;
    vertical-align: middle;
    -webkit-appearance: none;
    color: #555;
    background-color: rgba(0, 0, 0, 0);
}

.alben {
    list-style: none;
    float: left;
    margin: 15px;
    text-align: center;
    color: black;
    text-align: center;
}

.alben:hover {
    color: #0066cc;
    font-weight: bold;
}

.active_album {
    color: #0066cc;
    font-weight: bold;
}



/*Portfolio===============================*/


#portfolio-container .active {
   background-color:#FF1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}

#portfolio-container .active:active{
   background-color:#FF1351;color:#fff;
    outline: 0;
    box-shadow: none; 
}

#portfolio-container {
    padding: 40px 40px;
}

#portfolio-container .btn:hover {
  text-decoration: none;color:#fff;background-color:#FF1351;
}

#portfolio-container .btn:focus {
  outline: none;
  border-color: var(--darken-2);
  box-shadow: 0 0 0 3px var(--darken-3);
}

.images {
  text-align: center;
  margin: auto;
  
}
.images a {
  display: inline-block;
  width: 46%;
  max-width: 200px;
  margin: 0 20px 20px 0;
}
.images figure {
  position: relative;
  overflow: hidden;
  max-height: 200px;
}
.images .overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s ease-out;
  background: url("play-button.svg") 50% / 50px
      no-repeat,
    rgba(0, 0, 0, 0.5);
}
.images a:hover .overlay,
.images a:focus .overlay {
  opacity: 1;
}
.images a:hover figure img,
.images a:focus figure img {
  -webkit-filter: blur(1px);
  filter: blur(1px);
}

.subscribe {
    padding: 20px;
}

.videoplugin {
    padding-bottom: 30px;
}