@font-face {
  font-family: "Azo Sans";
  src: url("C:\Windows\Fonts");
  }
@import url('https://fonts.googleapis.com/css?family=Quicksand');


html, body {
  height: 100%;
  overflow-x: hidden;
}

/* Navigation */
.navigationscontainer {
  position: relative;
  z-index: 1;
}

.navbar {
  position: absolute !important;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navbar__item {
  margin-right: 10px;
}

.navbar__button {
  position: relative;
  width: 160px;
  height: 32px;
  text-align: center;
  font-family: "Azo Sans";
  font-weight: lighter;
  color: white !important;
  font-size: 11pt;
  text-transform: uppercase;
  padding: auto;
}

.navbar__button::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0, 0, 0.8);
  padding: 5px;
  box-shadow: 2px 2px 5px 1px #000000ab;
}

.navbar__button--ueberuns {
  position: relative;
  width: 160px;
  height: 32px;
  text-align: center;
  font-family: "Azo Sans";
  color: #0066cc !important;
  font-size: 11pt;
  text-transform: uppercase;
  padding: 5px;
}

.navbar__button--ueberuns::after {
  content: '';
  position: absolute;
  width: 160px;
  height: 32px;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(0,0, 0, 0.8);
  padding: 5px;
  box-shadow: 2px 2px 5px 1px #000000ab;
}

.navbar__button--ueberuns:hover {
  color: #0066cc !important;
}

.navbar__button:hover::after {
  background-color: #0066cc;
}

.navbar__button--left::after {
  transform: skew(45deg);
}

.navbar__button--right::after {
  content:'';
  transform: skew(-45deg);
}

.navbar-dark .navbar-nav .active a::after {
  border-bottom: 3px solid #0066cc;
  bottom: -20px;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
  color: #0066cc !important;
}

.navbar__logo {
  height: 105px;
  padding-left: 35px;
  padding-right: 35px;
  filter: drop-shadow(2px 2px 5px 1px #000000ab);
}

/* Header */
.header__background {

  width: 100%;
  position: relative;
  height: 500px;
  background-image: url("images/UeberUns/ueberuns-header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

/* Überschriften */
.blackline {
  background-color: #171717;
  height: 25px;
  box-shadow: 2px 2px 5px 1px #000000ab;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.whiteline {
  background-color: #ECEAEA;
  height: 25px;
  width: 100%;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.headline {
  color: #ECEAEA !important;
  font-size: 20pt;
  font-family: 'Quicksand';
  text-align: right;
  position: relative;
  top: 0;
  bottom: 0;
  padding-right: 12px;
  line-height: 1;
  right: 33%;
  height: 25px;
  z-index: 0;
}

.headline::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  height: 25px;
  background-color: #171717;
  box-shadow: 2px 2px 5px 1px #000000ab;
  z-index: -1;
}

.headline--black {
  color: #171717 !important;
  font-size: 20pt;
  font-family: 'Azo Sans';
  text-align: left;
  position: relative;
  top: 0;
  bottom: 0;
  padding-left: 12px;
  line-height: 1.25;
  left: 33%;
  height: 25px;
  z-index: 0;
}

.headline--black::after {
  content: '';
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  background-color: #ECEAEA;
  z-index: -1;
}

/* Anpassungen für die Inhalte */
.white-content {
  background-color: #ECEAEA;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.black-content {
  background-color: #171717;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.inhalt--links {
  height: 238px;
  padding-right: 0px;
  padding-left: 0px;
  text-align: center;
  vertical-align: 50%;
}

/* Geschichtsbereich */

.history {
  width: 66%;
  margin-top: 50px;
}

.historybild {
  width: 100%;
  height: auto;
}

.test {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
}

.jahreszahl--rechts {
  font-size: 24pt;
  font-weight: bold;
  text-align: left;
  font-family: "Quicksand";
  padding-right: 50px !important;
}

.jahreszahl--links {
  font-size: 24pt;
  font-weight: bold;
  text-align: right;
  font-family: "Quicksand";
  padding-left: 50px !important;
}

.bild--links {
  text-align: right;
  width: 238px;
}

.bild--rechts {
  text-align: left;
}

.fließtext--rechts {
  text-align: left;
  padding-right: 40px !important;
  padding-left: 40px !important;
  font-family: "Quicksand";
  font-size: 11pt;
}

.fließtext--links {
  text-align: right;
  padding-right: 40px !important;
  padding-left: 40px !important;
  font-family: "Quicksand";
  font-size: 11pt;
}

.abstand {
  height: 70px;
}

.title {
  font-family: "Azo Sans";
  font-size: 13pt;
  text-transform: uppercase;
  letter-spacing: 0.25em;

}

.historyline {
  width: 7px;
  background-color: rgba(0,0, 0, 0.9);
  height: 940px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 119px;
}

.links {
  margin-left: 6px !important;
}

.rechts {
  margin-right: 7px !important;
}

/* Fördernde Mitglieder Bereich */
.foerdernde-mitglieder {
  padding-top: 75px !important;
  padding-bottom: 75px !important;
  width: 66%;
}

.fmitglied {
  height: 200px;
  width: 200px;
  display: inline-block;
  background-image: url("images/UeberUns/memberschlagschatten.png");
  background-size: contain;
  position: relative;
}

.fmitglied:hover {
  height: 200px;
  width: 200px;
  display: inline-block;
  background-image: url("images/UeberUns/memberhover.png");
  background-size: contain;
}


/*@wCssFragment{class:mediaquerySize;variant:max768;caption:wenn die Fensterbreite kleiner gleich 768 Pixel ist;caption-en:if window width is equal or less 768 pixel} */
@media only screen and (max-width: 992px){
  .max992 {display:none}
}

.leftArrow {
  border: 1px solid transparent;
}

.leftArrow:hover {
  cursor: pointer;
}

.arrow {
  width: 5%;
  padding: 5px;
}

.fm {
  width: 90%;
  padding: 5px !important;
}

.membertext {
  color: white;
  font-size: 13pt;
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  padding-top: 35%;
  text-align: center;
  opacity: 0;
  line-height: 1.75;
}

.membertext:hover {
  opacity: 1;
  display: inline-block;
}


/* footer */

.footer {
  background-color: black;
  color: white;
}

.get__social {
  color: white;
  font-family: 'Azo Sans';
  font-size: 13pt;
  text-align: center;
  letter-spacing: 0.15em;
  padding-top: 20px;
}


.social__channels {
  text-align: center;

}

.social__channels i {
  margin: 10px;
  color: white;
}

.social__channels i:hover {

  color: #0066cc;
}

.footer__contact {
  margin: 0 auto;
}

.footer__buttons {
  color: white;
  text-align: center;

}

.footer__buttons:hover {
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

.copyright{
  text-align: center;
}

.text-white {
  text-align: center;
}

.text-white:hover {
  color: #0066cc !important;
  font-weight: bold;
  text-decoration: none !important;

}

.oneband {
  height: 25px;
  position: relative;
  padding: 0 !important;
}


.onesound {
  text-align: center;
  color: black;
  background-color: white;
  position: absolute;
  font-size: 20pt;
  font-family: 'Azo Sans';
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  line-height: 1.25;
  padding: 0 !important;
  z-index: 0;
}

.rechteecke {
  left: 66%;
  background-color: #171717;
  position: absolute;
  height: 25px;
  z-index: 1;
  width: 100%;
  transform: skew(-45deg);
}

.linkeecke {
  right: 66%;
  background-color: #171717;
  position: absolute;
  height: 25px;
  z-index: 1;
  width: 100%;
  transform: skew(45deg);
}

.Akteure {
  color: white;
  font-family: "Quicksand";
  font-size: 11pt;
  text-align: center;
}

.name {
  color: white;
  font-family: "Azo Sans";
  font-size: 21pt;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  padding-bottom: 20px;
}

.beschreibungstext {
  color: white;
  font-family: "Quicksand";
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 11pt;
}

.zitat {
  color: white;
  font-family: "Azo Sans";
  text-align: center;
  font-size: 14pt;
  padding-top: 20px;
}

.akteurauswahl {
  width: 1160px;
  background-image: url("Images/Ueberuns/akteure.png");
  padding: 0;
  margin-right: auto;
  margin-left: auto;
}

.member {
  width: 145px;
  height: 187px;
  position: relative;
}

.memberhover {
  height: 157px;
  width: 145px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #0066cc;
  opacity: 0;
  position: absolute;
  color: white;
  font-family: "Azo Sans";
  font-size: 12pt;
  text-align: center;
  font-weight: lighter;
  padding-top: 45%;
}

.memberhover:hover {
  opacity: 0.8;
}

.memberimage {
  position: absolute;
}

.shown {
  display: inherit;
}

.notshown {
  display: none;
}
